{% extends 'base.html.twig' %}

{% block title %}Liste des voitures - EcoRide{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-inline-flex m-0 p-3 justify-content-center text-align-center">
            <h2 class="mx-5 my-auto text-primary fw-bold">Liste de mes voitures</h2>
            <a href="/cars/create" class="btn btn-success text-light mx-5">Nouvelle voiture</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Numéro d'immatriculation</th>
                </tr>
            </thead>
            <tbody>
                {% for car in carList %}
                    <tr>
                        <td>{{ car.brand }}</td>
                        <td>{{ car.type }}</td>
                        <td>{{ car.serialNumber }}</td>
                        <td><a href="{{ path('DeleteCar', {'carID':car.id}  )  }}" class="text-danger">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}