<nav class="navbar navbar-expand-lg p-0 my-5">
    <div class="container-fluid bg-secondary text-center">
        <div class="row w-100 align-items-center">
            <div class="col-12 col-lg-8 p-3">
                <a href="/account" class="fs-2 fw-bold m-0 text-white link-underline link-underline-opacity-0">Mon espace</a>
            </div>

            <div class="col-12 col-lg-4 p-3">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAccount" aria-controls="navbarAccount" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarAccount">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white link-opacity-50-hover" aria-current="page" href="/account">Mon compte</a>
                        </li>
                        {% if app.user.driver == true %}
                            <li class="nav-item">
                                <a class="nav-link active text-white link-opacity-50-hover" aria-current="page" href="/cars">Mes voitures</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>