/* assets/styles/app.scss */

$primary : #828b6a;
$secondary : #a6b19d;
$success : #2F9B61;
$danger : #DB232C;
$warning : #FFC600;
$light : #e4eacf;
$dark : #674736;

$text-primary : 'Playfair Display';

.baseHeader {
  height: max-content;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $primary;
  font-family: $text-primary;
  color: $light;
  text-align: center;
}

@import '../../vendor/twbs/bootstrap/scss/bootstrap';