<div class="baseFooter container-fluid">
    <div class="row w-100 align-items-center">
        <div class="col-4 p-3">
            <h3>Contact</h3>
            <p>27 rue de la route <br>
            08000, Charleville <br>
            06.06.06.06.06 <br>
            contact@ecoride.fr</p>
        </div>

        <div class="col-4 p-3">
            <img class="rounded-3 w-25" src="images/Logo_Ecoride.png" alt="Une petite voiture avec une feuille verte qui dépasse du toit">
        </div>

        <div class="col-4 p-3">
            <h3>Plus d'infos</h3>
            <a class="link-light link-opacity-50-hover" href="/">Qui sommes-nous ?</a> <br>
            <a class="link-light link-opacity-50-hover" href="/">Mentions légales</a> <br>
            <a class="link-light link-opacity-50-hover" href="/">CGU</a>
        </div>
    </div>
</div>