<header>
    <nav class="navbar navbar-expand-lg p-0 m-0">
        <div class="baseHeader container-fluid">
            <div class="row w-100 align-items-center">
                <div class="col-12 col-lg-4 p-3">
                    <h1><a href="/" class="fs-1 fw-bold m-0 text-light link-underline link-underline-opacity-0">ECORIDE</a></h1>
                </div>

                <div class="col-12 col-lg-4 p-3 align-items-center">
                    <p class="fs-5 fw-bold m-0">Pour avancer ensemble de manière durable</p>
                </div>

                <div class="col-12 col-lg-4 p-3">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active text-light link-opacity-50-hover" aria-current="page" href="/">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-light link-opacity-50-hover" aria-current="page" href="/">Covoiturage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-light link-opacity-50-hover" aria-current="page" href="/">Contact</a>
                            </li>
                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link active text-light link-opacity-50-hover" aria-current="page" href="/account">Mon Compte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active text-light link-opacity-50-hover" aria-current="page" href="/logout">Déconnexion</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link active text-light link-opacity-50-hover" aria-current="page" href="/login">Connexion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active text-light link-opacity-50-hover" aria-current="page" href="/register">Inscription</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>